#todos {
	position: relative;
	top: 50px;
}

.todo-panel {
    margin: auto;
    width: 500px;
    background-color: #FFF;
    box-shadow: 3px 3px 20px #888888;
}

.todo-input>input {
	width: 100%;
	padding: 15px;
	font-size: 20px;
	box-sizing: border-box;
	border: 1px solid #F5F5F5;
    border-bottom: 3px solid #F5F5F5;
	outline: none;
}

.todo-list>ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.todo-list>ul>li {
    border-bottom: 1px solid #F5F5F5;
}

.todo-list>.todo-footer {
    height: 50px;
    padding: 10px;
}

.todo-footer Button {
  margin-right: 10px;
}

.list-text>label {
	cursor: pointer;
}

.list>.list-content {
	display: inline-block;
	width: 100%;
	padding: 0 10px;
  position: relative;
  top: 2px;
  height: 50px;
  line-height: 3.5;
}

.list-content>.list-text {
	width: 96%;
}

.list-text>label {
	display: block;
	margin: 0;
}

label>.iradio_square-green {
	margin-right: 10px;
}

.btn-remove-todo {
	color: #B0B0B0;
}

.btn-remove-todo:hover {
	color: red;
	cursor: pointer;
}